
.ui.basic.modal
  .ui.icon.header
    .archive.icon Archive Old Messages
  .content Your inbox is getting full, would you like us to enable automatic archiving of old messages?
  .actions
    .ui.red.basic.cancel.inverted.button
    i.remove.icon No
    .ui.green.ok.inverted.button
    i.checkmark.icon Yes