
.ui.modal.login_modal
  .header Login To Your Account
  form(action="/login").ui.medium.form.error.login_form
    .ui.stacked.segment
      .ui.error.message
      .required.field
        .ui.left.icon.input
          i.envelope.icon
          input(type="email", name="email" placeholder="E-mail")
      .required.field
        .ui.left.icon.input
          i.lock.icon
          input(type="password", name="password" placeholder="Password")
      .ui.grid
        .right.floated.column
          button(type="submit").ui.right.floated.large.green.button Submit    