.main__header {
  width: 100vw;
  background-image: url('../community.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}
.header__container{
  height: 100%;
  background-color: rgb(0 0 0 / 56%) !important
}
.header__h1 {
  color:white !important;
}
.header__content {
  margin: 12.75rem;
  color: white;
}

.signup__btn__submit{
  float: right;
}